/* ALLGEMEIN */
body {
	font-family: 'Roboto', sans-serif;
	color: #000;
	background: #FFF;
	border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
}

a:link,
a:visited,
a:hover,
a:active {
	color: #7abe73;
}

.text-alignment {
	text-align: center;
}

.mobile-hidden {
	display: block;
}
.desktop-hidden {
	display: none;
}

.treaction-green {
	color: #7abe73;
}

p.normal {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 300;
}
p.condensed {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

@media (max-width: 992px) {
	.text-alignment {
		text-align: left !important;
	}
	.mobile-hidden {
		display: none;
	}
	.desktop-hidden {
		display: block;
	}
	.mobile-padding {
		padding-left: 25px;
		padding-right: 25px;
	}
}
/* ENDE ALLGEMEIN */





/* BUTTONS */
button.header-btn {
	background-color: #7abe73;
	color: #FFF; 
	padding: 8px 24px; 
	font-size: 28px; 
	font-family: 'Titillium Web', sans-serif; 
	font-weight: 300; 
	text-transform: uppercase; 
	margin-top: 25px;
}
button.header-btn:hover {
	background-color: #FFF;
	color: #7abe73;
}
button.header-btn:focus {
	box-shadow: 0 0 0 0.2rem rgba(255,255,255,.35) !important;
}
i.header-btn-icon {
	font-size:22px;
	vertical-align: 2px;
}

button.treaction-btn {
	background-color: #7abe73;
	color: #FFF; 
	padding: 6px 20px; 
	font-size: 22px; 
	font-family: 'Titillium Web', sans-serif; 
	font-weight: 300; 
	text-transform: uppercase;
}
button.treaction-btn:hover {
	background-color: #4b9644;
	color: #FFF; 
}
button.treaction-btn:focus {
	box-shadow: 0 0 0 0.2rem rgba(75,150,68,.5) !important;
}
i.treaction-btn-icon {
	font-size:18px;
	vertical-align: 1px;
}

button.treaction-btn-form {
	background-color: #7abe73;
	color: #FFF; 
	padding: 6px 20px; 
	font-size: 22px; 
	font-family: 'Titillium Web', sans-serif; 
	font-weight: 400; 
	text-transform: uppercase;
}
button.treaction-btn-form:hover {
	background-color: #FFF;
	color: #7abe73; 
}
button.treaction-btn-form:focus {
	box-shadow: 0 0 0 0.2rem rgba(255,255,255,.35) !important;
}
i.treaction-btn-form-icon {
	font-size:18px;
	vertical-align: 1px;
}
/* ENDE BUTTONS */





/* HEADERBEREICH */
header.header-treaction {
	height: 550px;
	background-image: url("../../img/bg-space-short.jpg");
	background-color: #000000;
	background-size: cover;
	background-position: center;
}
img.logo {
	height: 40px;
}
h1.treaction-title {
	color: #7abe73;
	font-size: 54px;
	text-transform: uppercase;
	line-height: 100%;
	margin-top: -20px;
}
h3.treaction-subtitle {
	margin-top: 14px;
	font-size: 32px;
	font-weight: 300;
	color: #FFF;
}
nav.navbar-treaction {
	
}
a.navbar-daten {
	font-family: 'Titillium Web', sans-serif; 
	font-weight: 300; 
	font-size: 16px;
	color: #FFF;
	text-decoration: none;
}
a.navbar-daten:hover {
	color: #7abe73;
}
a.navbar-daten i {
	vertical-align: -1px;
}
@media (max-width: 992px) {
	img.logo {
		height: 40px;
	}
	h1.treaction-title {
		font-size: 36px;
		margin-top: -30px;
	}
	h3.treaction-subtitle {
		font-size: 24px;
	}
	header.header-treaction {
		height: 450px;
	}
	div.header-treaction-container {
		height: 450px;
	}
}
/* ENDE HEADERBEREICH DESKTOP */





/* SECTION THEMEN */
section.themen {
	background-color: #FFF;
	padding-top: 80px;
	padding-bottom: 80px;
}
i.themen-icon {
	font-size: 48px;
	color: #7abe73;
}
h5.themen-icon-title {
	margin-top: 15px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
}

@media (max-width: 992px) {
}
/* ENDE SECTION THEMEN */





/* SECTION FORMULAR */
section.formular {
	background-color: #0c0c0c;
	padding-top: 80px;
	padding-bottom: 80px;
}


.checkboxcontainer-treaction {
	margin-bottom: 3px; 
	color:#FFF; 
}
.checkboxcontainer-treaction input {
	display: none;
}
.checkbox-treaction {
	position: absolute;
	top: 16px;
	left: 20px;
	height: 16px;
	width: 16px;
	border: 1px solid #000;
	border-radius: 3px;
	background-color: #FFF;
}
.checkboxcontainer-treaction input:checked ~ .checkbox-treaction {
  	background-color: #FFF;
}
.checkbox-treaction:after {
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	font-size: 0.75rem;
	margin-left: 2px;
	margin-top: -1px;
  	content: "\f00c";
  	position: absolute;
  	display: none;
}
.checkboxcontainer-treaction input:checked ~ .checkbox-treaction:after {
  	display: inline-block;
}
.checkboxcontainer-treaction .checkbox-treaction:after {
	color: #7abe73
}

h4.mehrwerte-headline {
	color: #FFF;
	margin-bottom: 25px;
}
h5.mehrwerte {
	font-weight: 300;
	color: #FFF;	
}
ul.mehrwerte-liste {
	margin-left: 30px;
}
ul.mehrwerte-liste li {
	margin-bottom: 18px;
}
i.mehrwerte-icon {
	color: #7abe73;
	font-size: 1.4rem;
	vertical-align: -2px;
}
/* ENDE SECTION FORMULAR */





/* SECTION TESTIMONIALS */
section.testimonials {
	background-color: #FFF;
	padding-top: 80px;
	padding-bottom: 80px;
}
div.zitat-bg {
	border: solid 1px #000;
	border-radius: 5px;
	padding: 15px 20px;
}
p.testimonial-zitat {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	line-height: 125%;
	color: #000000;
	margin-bottom: 5px;
}
p.testimonial-name {
	font-family: 'Titillium Web', sans-serif;
	font-size: 18px;
	font-weight: 600;
	color: #7abe73;
	margin-bottom: 2px;
}

.owl-dots {
	margin-top: 20px !important;
}
.owl-carousel .active span {
	background-color: #7abe73 !important;
}
/* ENDE SECTION TESTIMONIALS */





/* FOOTER */
#treaction-footer {
	background-color: #0c0c0c;
	padding-top: 50px;
	padding-bottom: 60px;
	
}
.footer-linkbereich {
	text-align: left;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	color: #FFF;
}
a.footer-link {
	transition-duration: 0.15s;
	transition-property: color;
	transition-timing-function: ease-in-out;
	color: #FFF;
	text-decoration: none;
}
a.footer-link:hover {
	color: #7abe73;
	text-decoration: none;
}
.footer-iconbereich {
	text-align: right;
}
i.footer-icon {
	font-size: 32px;
	color: #FFF;
	transition-duration: 0.15s;
	transition-property: color;
	transition-timing-function: ease-in-out;
}
i.footer-icon:hover {
	color: #7abe73;
}
p.copyright {
	margin-top: 15px;
	font-size: 0.9rem;
	color: #FFF;
}

.footer-linkbereich-mobile {
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	font-size: 20px;
	color: #FFF;
}
p.copyright-mobile {
	text-align: center;
	margin-top: 15px;
	font-size: 0.9rem;
	color: #FFF;
}
.footer-iconbereich-mobile {
	text-align: center;
	margin-top: 10px;
}
i.footer-icon-mobile {
	font-size: 38px;
	color: #FFF;
	transition-duration: 0.15s;
	transition-property: color;
	transition-timing-function: ease-in-out;
}
/* ENDE FOOTER */

